.jumbotron {
  background-image: url(images/women-in-tech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  min-height: 800px;
  padding-top: 50px;
}
.jumbotron h1 {
  font-family: "Spicy Rice", cursive;
  color: white;
  font-size: 100px;
  text-decoration: underline;
  text-align: center;
}
.container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
#women {
  padding: 50px 0;
}
#women a {
    font-family: "Spicy Rice", cursive;
    color: #DBCDC6;
    font-size: 30px;
    text-align: center;
  }
#women a:hover {
  font-family: "Spicy Rice", cursive;
  color: #E4C3AD;
  font-size: 30px;
  text-align: center;
}
#social-buttons {
  padding: 50px 50px;
}
.btn-instagram {
  background-color: #1da1f2;
}
.btn-facebook {
  background-color: #3b5998;
}
#social-buttons .btn-primary {
  border-color: transparent;
}
